@keyframes rotation {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 75%;
  }
  50% {
    transform: rotate(45deg);
    transform-origin: 50% 75%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 75%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
