$screen-size-sm: 640px;

:root {
  /* Colors */
  --red: #4e0b06;

  --orange: #a13e00;

  --white: #f7f7ff;

  --primary: #131111;
  --secondary: #a4a4a4;

  /* Font */

  --font-size-xl: clamp(2rem, 10.7vw - 2.7rem, 4rem);
  --font-size-md: clamp(1.25rem, 1.3vw + 0.7rem, 1.5rem);
  --font-size-sm: clamp(1.1rem, 0.8vw + 0.8rem, 1.25rem);

  /* Screen Size   */
}
